@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@200;600&display=swap');

body {
  background: url('../public/imgs/mountain_back.jpg') no-repeat center fixed;
  background-size: cover;
  font-family: "Nunito Sans";
}
a{
  color:black;
  text-decoration: none;
}

a:hover{
  color:grey;
}

footer{
  position:relative;
  bottom: 0px;
  width: auto;
  background-color: white;

}

.card{
  display: block;
}

.card:hover{
  transform: 1.2;
}

.image_wrapper{
  box-sizing: content-box;
}

.logo {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  border-radius: 5px;
}

.card-title{
  font-family: 'Nunito Sans';
  font-size: xx-large;
}